.jumbotron {
  background-image: url(img/article_1608542188_edit.jpg);
  background-size: cover;
  text-align: center;
  color: white;
}

section {
  padding-top: 5rem;
}

.display-4 {
  padding-top: 100px;
  font-size: 60px;
  letter-spacing: 5px;
  font-family: helvetica;
}

.lead {
  padding-bottom: 50px;
  font-size: 30px;
  font-family: times;
}

.services {
  background-image: url(img/cara-memulai-bisnis-kos-kosan.jpg);
  background-size: cover;
}

.services h3 {
  text-align: center;
}

.card {
  margin-top: 30px;
  margin-bottom: 40px;
}

.d-flex {
  padding: 10px 100px 10px 100px;
}

#pesan {
  float: left;
  width: 400px;
  height: 100vh;
  background: #04d9e0;
  overflow-y: auto;
}

.form-group {
  padding-bottom: 10px;
}

#map {
  float: left;
  width: calc(100% - 400px);
  height: 100vh;
}

#title {
  text-align: center;
  margin: 10px 0;
}

.inner {
  padding: 10px;
}

#detail {
  display: none;
  margin-top: 50px;
}

#detail th {
  padding: 10px;
}

#detail td {
  padding: 10px;
}

#pesan-btn {
  display: block;
  margin: auto;
}

h6 {
  padding-top: 100px;
  font-size: 60px;
}

footer {
  background-color: #04d9e0;
}

footer p {
  color: white;
  font-family: lucida;
}
